<a href="https://colab.research.google.com/github/Dona-svg/Python/blob/Dona/Python_Cycle_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
n=input("enter the home number:")
hname=input("enter the home name:")
po=input("enter the post office:")
t=input("enter the town:")
d=input("enter the district:")
s=input("enter the state:")
c=input("enter the country:")
pin=int(input("enter the pincode:"))
print("\n Address: \n",
       "\n home number:",n,"\n home name:",hname,"\n post office:" ,po,
      "\n town:",t,"\n district:" ,d,"\n state:" ,s,"\n country:" ,c,"\n pincode:",pin)

enter the home number:10/20
enter the home name:illakunnel
enter the post office:manakkad
enter the town:Thodupuzha
enter the district:idukki
enter the state:kerala
enter the country:india
enter the pincode:685585

 Address:

 home number: 10/20
 home name: illakunnel
 post office: manakkad
 town: Thodupuzha
 district: idukki
 state: kerala
 country: india
 pincode: 685585

In [ ]:
s=int(input("enter starting leap year:"))
e=int(input("enter ending leap year:"))
print("leap year between",s,"and",e,)
while(s<=e):
  if ((s%400==0) or (s%4==0) and (s%100!=0)):
    print(s)
  s=s+1

enter starting leap year:2000
enter ending leap year:2022
leap year between 2000 and 2022
2000
2004
2008
2012
2016
2020

In [ ]:
x=[]
n=int(input("enter list items:"))
for i in range(1,n+1):
  a=int(input("enter the value of %d item : "%i))
  x.append(a)
y=[n for n in x if n>=0]
print("list of integers is :",x)
print("list of positive intergers:",y)

enter list items:3
enter the value of 1 item : 10
enter the value of 2 item : -4
enter the value of 3 item : 34
list of integers is : [10, -4, 34]
list of positive intergers: [10, 34]

In [ ]:
x=[]
n=int(input("enter list items:"))
for i in range(1,n+1):
    a=int(input("enter the value of item %d:"%i))
    x.append(a)
b=(num**2 for num in x)
print("initial list of N numbers:",x)
y=list(b)
print("square list of N numbers:",y)

enter list items:3
enter the value of item 1:2
enter the value of item 2:3
enter the value of item 3:6
initial list of N numbers: [2, 3, 6]
square list of N numbers: [4, 9, 36]

In [ ]:
w=input("enter any word:")
v=[l for l in w if l in 'aeiou' ]
print("list of vowels in",w,":",v)

enter any word:aeroplane
list of vowels in aeroplane : ['a', 'e', 'o', 'a', 'e']

In [ ]:
w=input("enter any word:")
for l in range(len(w)):
   print("ASCII value is",w[l], "is", ord(w[l]))

enter any word:ant
ASCII value is a is 97
ASCII value is n is 110
ASCII value is t is 116

In [ ]:
def word_count(str):
    counts=dict()
    words= str.split()
    for word in words:
         if word in counts:
           counts[word] += 1
         else:
           counts[word] = 1
    return counts
str=input("enter any text:")
print(word_count(str))

enter any text:many many days
{'many': 2, 'days': 1}

In [ ]:
x=[]
n=int(input("enter any integers:"))
for i in range(1,n+1):
   a=int(input())
   if (a>100):
      x.append('over')
   else:
     x.append(a)
print("modified list:" ,x)

enter any integers:4
1
150
500
100
modified list: [1, 'over', 'over', 100]

In [ ]:
l=[]
x=int(input("enter the limit:"))
for i in range(1,x+1):
      x=input("enter the first name:")
      l.append(x)
      count=x.count('a')
      print("the number of times  a is present in name: ",count)

enter the limit:2
enter the first name:dona
the number of times  a is present in name:  1
enter the first name:alan
the number of times  a is present in name:  2

In [ ]:
x=[]

i=int(input("enter the limit for list1:"))
for i in range(1,i+1):
    i=int(input())
    x.append(i)
    print (x)
y=[]

o=int(input("enter the limit for list2:"))
for i in range(1,o+1):
    o=int(input())
    x.append(o)
    print (y)
if(len(x)==len(y)):
   print("list 1 and list 2 are of same length i.e.",len(x))
else:
      print("list 1 and list 2 are of different length.")
if(sum(x)==sum(y)):
      print("list 1 and list 2 sums to same value i.e.:",sum(x))
else:
      print("list 1 and list 2 sums to have different value.")
def common(x,y):
        p=set(x)
        q=set(y)  
        if len(p.intersection(q)) > 0:
            return(p.intersection(q))
        else:
             return("no common elements")
             print("value that occur in both lits is/are :",common)

enter the limit for list1:3
2
[2]
7
[2, 7]
10
[2, 7, 10]
enter the limit for list2:4
8
[]
11
[]
13
[]
1
[]
list 1 and list 2 are of different length.
list 1 and list 2 sums to have different value.

In [ ]:
str=input("enter any string:")
def rep_ch(str1):
  char=str1[0]
  str1=str1.replace(char,'$')
  str1=char+str1[1:]
  return str1
print(rep_ch(str))

enter any string:aeroplane
aeropl$ne

In [ ]:

def change(srt):
  return str [-1:] + str[1:-1] + str[:1]
str=input("enter any string:")
print("modified string :",change(str))

enter any string:python
modified string : nythop

In [ ]:
r=int(input("enter the radius of the circle :"))
print("area of the circle is :",3.14*r*r)

enter the radius of the circle :5
area of the circle is : 78.5

In [ ]:
a=float(input("enter the first value:"))
b=float(input("enter the second value:"))
c=float(input("enter the third value:"))
if(a>b and a>c):
  print(a, "is bigger than both" ,b, "and" ,c)
elif(b>a and b>c):
     print(b, "is bigger than both" ,a, "and" ,c)
elif(c>a and c>b):
  print(c,"is bigger than both" ,a, "and" ,b)
else:
    print("either any two values or all the three values are equal")

enter the first value:3
enter the second value:1
enter the third value:0
3.0 is bigger than both 1.0 and 0.0

In [ ]:
f=input("enter any filename:")
x=f.split(".")
print("extention of filename" ,x[-1])

enter any filename:star.py
extention of filename py

In [ ]:
c=[]
a=int(input("enter the limit for list :"))
for i in range(1,a+1):
   b=input()
   c.append(b)
print(c)
print(c[0],c[-1])

enter the limit for list :3
black
blue
green
['black', 'blue', 'green']
black green

In [ ]:
a=int(input("enter any integer:"))
n1=int("%s" %a)
n2=int("%s%s" %(a,a))
n3=int("%s%s%s" %(a,a,a))
print("value of n+nn+nnn is:" ,n1+n2+n3)

enter any integer:3
value of n+nn+nnn is: 369

In [ ]:
c1=[]
x=int(input("enter the limit for list one:"))
for i in range(1,x+1):
  a=input()
  c1.append(a)
  p=set(c1)
c2=[]
y=int(input("enter the limit for list two:"))
for i in range(1,y+1):
  b=input()
  c2.append(b)
  q=set(c2)
print(q)
print(p.difference (q))

enter the limit for list one:3
red
orange
blue
enter the limit for list two:3
red
yellow
black
{'red', 'yellow', 'black'}
{'blue', 'orange'}

In [ ]:
x=input("enter the first string:")
y=input("enter the second string:")
def swapch(x,y):
  a = y[:1] + x[1:]
  b = x[:1] + y[1:]
  return a + ' ' + b
print(swapch(x,y))

enter the first string:drop
enter the second string:cope
crop dope

In [ ]:
k1=input("enter first key:")
k2=input("enter second key:")
k3=input("enter third key:")
k4=input("enter fourth key:")
k5=input("enter fifth key:")
v1=input("enter first value:")
v2=input("enter second value:")
v3=input("enter third value:")
v4=input("enter fourth value:")
v5=input("enter fifth value:")
d={}
d[k1]=v1
d[k2]=v2
d[k3]=v3
d[k4]=v4
d[k5]=v5
l=list(d.items())
l.sort()
print("ascending order is:",l)
l=list(d.items())
l.sort(reverse = True)
print("descending order is:",l)

enter first key:4
enter second key:6
enter third key:5
enter fourth key:9
enter fifth key:1
enter first value:apple
enter second value:orange
enter third value:kiwi
enter fourth value:grapes
enter fifth value:water melon
ascending order is: [('1', 'water melon'), ('4', 'apple'), ('5', 'kiwi'), ('6', 'orange'), ('9', 'grapes')]
descending order is: [('9', 'grapes'), ('6', 'orange'), ('5', 'kiwi'), ('4', 'apple'), ('1', 'water melon')]

In [ ]:
k1=input("enter first key : ")
k2=input("enter second key : ")
v1=input("enter first value : ")
v2=input("enter second value : ")
dict1={}
dict2={}
dict1[k1]=v1
dict2[k2]=v2
def merge_dictionaries(x,y):
  z = {**x,**y}
  print("merged dictionary is : ")
  return z
print(merge_dictionaries(dict1,dict2))

enter first key : cat
enter second key : dog
enter first value : cute
enter second value : fluffy
merged dictionary is :
{'cat': 'cute', 'dog': 'fluffy'}

In [ ]:
n1=float(input("enter the first value : "))
n2=float(input("enter the second value : "))
x=n1
y=n2
while (n2 != 0):
  temp=n2
  n2=n1%n2
  n1=temp
gcd=n1   
print("GCD of",x,"and",y,"is",gcd)

enter the first value : 12
enter the second value : 36
GCD of 12.0 and 36.0 is 12.0

In [27]:
x=[]
a=int(input("enter list items:"))
for i in range(1,a+1):
   b=int(input("enter the value of  %d item:  "%i))
   x.append(b)
for i in x:
   if (i%2==0):
      x.remove(i)
      print("modified list after removing even numbers:")
      print(x)

enter list items:3
enter the value of  1 item:  4
enter the value of  2 item:  3
enter the value of  3 item:  7
modified list after removing even numbers:
[3, 7]