<a href="https://colab.research.google.com/github/Dona-svg/Python/blob/Dona/pythoncy1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello,World!")

Hello,World!

In [ ]:
a=int(input("enter first number:"))
b=int(input("enter second number:"))
sum=a+b
print("sum of two integers:",sum)

enter first number:5
enter second number:10
sum of two integers: 15

In [ ]:
num=int(input("enter the integer:"))
print("you entered",num)

enter the integer:5
you entered 5

In [ ]:
a=float(input("enter first number:"))
b=float(input("enter second number:"))
mul=a*b
print("multiplication of two numbers:",mul)

enter first number:5
enter second number:10
multiplication of two numbers: 50.0

In [ ]:
a=int(input("enter first number:"))
b=int(input("enter second number"))
quotient=a//b
remainder=a%b
print("Ouotient is:",quotient)
print("Remainder is:",remainder)

enter first number:5
enter second number3
Ouotient is: 1
Remainder is: 2

In [ ]:
num1=input("enter first number:")
num2=input("enter second number:")
print("value of num1 before swaping:",num1)
print("value of num2 before swaping:",num2)
temp=num1
num1=num2
num2=temp
print("value of num1 after swaping:",num1)
print("value of num2 after swaping:",num2)

enter first number:40
enter second number:80
value of num1 before swaping: 40
value of num2 before swaping: 80
value of num1 after swaping: 80
value of num2 after swaping: 40

In [ ]:
num=int(input("enter a number:"))
if(num%2)==0:
  print("{0} is even number" .format(num))
else:
    print("{0} is odd number" .format(num))

enter a number:5
5 is odd number

In [ ]:
ch=input("enter a character:")
if(ch=='A' or ch=='a' or ch=='E' or ch=='e' or ch=='I'
or ch=='i'  or ch=='O' or ch=='o' or ch=='U' or ch=='u'):
  print(ch,"is a vowel")
else:
    print(ch," is a consonant")

enter a character:c
c  is a consonant

In [ ]:
num1=float(input("enter first number:"))
num2=float(input("enter second number:"))
num3=float(input("enter third number:"))

if(num1>num2) and (num1>num3):
      largest=num1
elif(num2>num1) and (num2>num3):
      largest=num2
else:
      largest=num3
print("The largest number is:",largest)

enter first number:5
enter second number:10
enter third number:100
The largest number is: 100.0

In [ ]:
year=int(input("enter a year:"))
if (year%4)==0:
  if(year%100)==0:
    if(year%400)==0:
       print("{0} is a leap year".format(year))
else:
  print("{0} is not a leap year".format(year))

enter a year:1999
1999 is not a leap year

In [ ]:
num=float(input("enter a number:"))
if num>0:
 print("{0} is a positive number".format(num)) 
elif num==0:   
     print("{0} is zero".format(num))
else:
      print("{0} is a negative number".format(num))

enter a number:0
0.0 is zero

In [ ]:
a=int(input("enter first number:"))
b=int(input("enter second number:"))
sum=a+b
print("sum of two numbers",sum)

enter first number:5
enter second number:5
sum of two numbers 10

In [ ]:
num=int(input("enter a number:"))
factorial=1
if num<0:
  print("factorial does not exist for negative number ")
elif num==0:
    print("the factorial for zero is 1")
else:
      for i in range (1, num+1):
         factorial=factorial*i
      print("the factorial of",num, "is", factorial)

enter a number:5
the factorial of 5 is 120

In [ ]:
a=1
print("the value of",a,"is of the type",type(a))
b="hello"
print("the value of",b,"is of the type",type(b))
c=3.14
print("the value of",c,"is of the type",type(c))
d=2j
print("the value of",d,"is of the type",type(d))
e=("ads","web","python")
print("the value of",e,"is of the type",type(e))
f=["ads","web","python"]
print("the value of",f,"is of the type",type(f))
g={"ads","web","python"}
print("the value of",g,"is of the type",type(g))
h=(range(5))
print("the value of",h,"is of the type",type(h))
i=True
print("the value of data type",i,type(i))

the value of 1 is of the type <class 'int'>
the value of hello is of the type <class 'str'>
the value of 3.14 is of the type <class 'float'>
the value of 2j is of the type <class 'complex'>
the value of ('ads', 'web', 'python') is of the type <class 'tuple'>
the value of ['ads', 'web', 'python'] is of the type <class 'list'>
the value of {'python', 'ads', 'web'} is of the type <class 'set'>
the value of range(0, 5) is of the type <class 'range'>
the value of data type True <class 'bool'>

In [ ]:
num=int(input("multiplication table of ?"))
for i in range(1 ,11):
  print(num,'*', i ,'=',num*i)

multiplication table of ?9
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90

In [ ]:
nterms = int(input("How many terms you want?"))
# first two terms
n1 =0
n2 =1
count = 2
# check if the number of terms is valid
if nterms <=0:
  print("please enter a positive integer")
elif nterms ==1:
  print("Fibonacci sequence:")
  print(n1)
else:
   print("Fibonacci sequence:")
   print(n1,",",n2,end=',')
   while count < nterms:
     nth =n1 + n2
     print(nth,end=',')
     # update values
     n1 = n2
     n2 =nth
     count += 1

How many terms you want?10
Fibonacci sequence:
0 , 1,1,2,3,5,8,13,21,34,

In [ ]:
a=int(input("enter the first number:"))
b=int(input("enter the second number:"))
if(a>b):
  min1=a
else:
    min1=b
while(1):
    if(min1%a==0 and min1%b==0):
      print("LCM is:" ,min1)
      break
    min1=min1+1

enter the first number:5
enter the second number:3
LCM is: 15

In [ ]:
n=int(input("enter number:"))
count=0
while(n>0):
  count=count+1
  n=n//10
print("the number of digits in the number are:", count)

enter number:4785
the number of digits in the number are: 4

In [ ]:
n=4565
rev=0

while(n>0):
  a=n%10
  rev = rev * 10 + a
  n=n//10
print(rev)

5654

In [ ]:
def power(base,exp):
  if(exp==1):
      return(base)
  if(exp!=1):
     return(base*power(base,exp-1))
base=int(input("Enter base:"))
exp=int(input("enter exponential value:"))
print("Result:",power(base,exp))

Enter base:5
enter exponential value:4
Result: 625

In [ ]:
n=int(input("enter number:"))
temp=n
rev=0
while(n>0):
    dig=n%10
    rev=rev*10+dig
    n=n//10
if(temp==rev):
    print("the number is a palindrome!")  
else: 
     print("the number isn't a palindrome!")

enter number:121
the number is a palindrome!